form.signup,
form.login {
  margin-top: 50px;
}

body {
  background:url('../assets/images/dumbbell.jpg') 
  no-repeat center;
}

h2 {
  width: 100%;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: aliceblue;
  display: block;
  text-transform: uppercase;
  font-size: 33px;
}

h3 {
  width: 100%;
  text-align: left;
  font-family: 'Anton', sans-serif;
  color: aliceblue;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
}

h4 {
  width: 60%;
  text-align: right;
  font-family: 'Anton', sans-serif;
  color: aliceblue;
  display: block;
  /* text-transform: uppercase; */
  font-size: 18px;
}


.btn {
  background: rgb(100, 165, 249);
  padding: .5e 2em;
  color: aliceblue;
  border-color: rgb(100, 165, 249);
}

.btn:hover {
  background: rgb(69, 127, 204);
  border-color: rgb(69, 127, 204);
  color: black;
  cursor: pointer;
}

label {
  color: whitesmoke;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  margin-left: 5%;
}

p {
  text-align: center;
  color: aliceblue;
  margin-bottom: 7%;
}

a {
  font-size: 18px;
  color: rgb(100, 165, 249);
}

a:hover {
  text-decoration: none;
  color: rgb(100, 165, 249);
  text-transform: uppercase;
}

.form-control {
  color: black;
}

.form-control:focus {
  background-color: rgb(198, 220, 250);
}

.column {
  float: left;
}

.left, .middle, .right {
  width: 33.3%;
}
